<?xml version="1.0"?>
<config>
    <modules>
        <Vishwasnature_Productlink>
            <version>0.1.0</version>
        </Vishwasnature_Productlink>
    </modules>
    <global>
        <blocks>
            <productlink>
                <class>Vishwasnature_Productlink_Block</class>
            </productlink>
            <adminhtml>
                <rewrite>
                    <catalog_category_tab_product>Vishwasnature_Productlink_Block_Adminhtml_Catalog_Category_Tab_Product</catalog_category_tab_product>
                </rewrite>
            </adminhtml>
        </blocks>
    </global>
</config>
